<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="T24Service" value="off"/>
    <add key="T24LogPath" value="C:\\newsmsemailservice\\T24Folder\\LOG"/>
    <add key="T24Host" value="10.195.20.31"/>
    <add key="T24Username" value="t24bssprod"/>
    <add key="T24Password" value="fds123"/>
    <add key="T24Port" value="22"/>
    <add key="T24Directory" value="/home/t24/bssprod/bnk.interface/SMS/"/>
    <add key="T24DownloadFolder" value="C:\_smsemail\BSSMessagingConsole\BSSMessagingConsoleT24SVC\sftp\"/>
    <add key="T24FolderBackup" value="C:\newsmsemailservice\T24Folder\T24BackUpDone"/>
    <add key="T24FolderError" value="C:\newsmsemailservice\T24Folder\T24Error"/>

    <add key="DWHService" value="on"/>
    <add key="DWHLogPath" value="C:\\newsmsemailservice\\DWHFolder\\LOG"/>
    <add key="DWHHost" value="10.195.234.12"/>
    <add key="DWHPort" value="22"/>
    <add key="DWHUsername" value="datasms"/>
    <add key="DWHPassword" value="sms234"/>
    <add key="DWHDirectory" value="/"/>
    <add key="DWHDownloadFolder" value="C:\_smsemail\BSSMessagingConsole\BSSMessagingConsoleDWH\sftp\"/>
    <add key="DWHFolderBackup" value="C:\newsmsemailservice\DWHFolder\DWHBackUpDone"/>
    <add key="DWHFolderError" value="C:\newsmsemailservice\DWHFolder\DWHError"/>-->
    <!--<add key="T24Service" value="on"/>
    <add key="T24LogPath" value="D:\\Rayza Testing\\SMS dan Email Notif T24 Folder\\T24 Log"/>
    <add key="T24Host" value="10.195.20.23"/>
    <add key="T24Username" value="t24bssprodtest"/>
    <add key="T24Password" value="bss123"/>
    <add key="T24Port" value="22"/>
    <add key="T24Directory" value="/home/t24/bssprodtest/bnk.interface/SMS/"/>
    <add key="T24DirectoryEmail" value="/home/t24/bssprodtest/bnk.interface/EMAIL/"/>
    <add key="T24DownloadFolder" value="D:\SMS\T24"/>
    <add key="T24FolderBackup" value="D:\Rayza Testing\SMS dan Email Notif T24 Folder\T24BackUpDone"/>
    <add key="T24FolderError" value="D:\Rayza Testing\SMS dan Email Notif T24 Folder\T24Error"/>

    <add key="DWHService" value="off"/>
    <add key="DWHLogPath" value="D:\\Rayza Testing\\SMS dan Email Notif DWH Folder\\DWH Log"/>
    <add key="DWHHost" value="10.199.28.10"/>
    <add key="DWHPort" value="22"/>
    <add key="DWHUsername" value="datasms"/>
    <add key="DWHPassword" value="sms234"/>
    <add key="DWHDirectory" value="/"/>
    <add key="DWHDownloadFolder" value="D:\Rayza Testing\SMS dan Email Notif DWH Folder\Data Sumber SFTP DWH"/>
    <add key="DWHFolderBackup" value="D:\Rayza Testing\SMS dan Email Notif DWH Folder\DWHBackUpDone"/>
    <add key="DWHFolderError" value="D:\Rayza Testing\SMS dan Email Notif DWH Folder\DWHError"/>-->
    <add key="T24Service" value="on" />
    <add key="T24LogPath" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\LogT24" />
    <add key="T24Host" value="10.195.20.23" />
    <add key="T24Username" value="t24bssprodtest" />
    <add key="T24Password" value="bss123" />
    <add key="T24Port" value="22" />
    <add key="T24Directory" value="/home/t24/bssprodtest/bnk.interface/SMS/" />
    <add key="T24DirectoryEmail" value="/home/t24/bssprodtest/bnk.interface/EMAIL/" />
    <!--<add key="T24DownloadFolder" value="D:\Prastiyo\Dokumen\SMSEmailNotifikasi\T24" />
    <add key="T24FolderBackup" value="D:\Prastiyo\Dokumen\SMSEmailNotifikasi\T24BackUpDone" />
    <add key="T24FolderError" value="D:\Prastiyo\Dokumen\SMSEmailNotifikasi\T24Error" />-->
    <add key="T24DownloadFolder" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\T24" />
    <add key="T24FolderBackup" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\T24BackupDone" />
    <add key="T24FolderError" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\T24Error" />
    <add key="T24DownloadFile" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\T24FileDownload"/>
    <add key="T24DownloadFileDone" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\T24FileDownloadDone"/>
    <add key="DWHService" value="on" />
    <add key="DWHLogPath" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\LogDWH" />
    <add key="DWHHost" value="10.199.28.10" />
    <add key="DWHPort" value="22" />
    <add key="DWHUsername" value="datasms" />
    <add key="DWHPassword" value="sms234" />
    <add key="DWHDirectory" value="/" />
    <add key="DWHDownloadFolder" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\DWH" />
    <add key="DWHFolderBackup" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\DWHBackUpDone" />
    <add key="DWHFolderError" value="D:\RizkyTanjung\Docs\SMSEmailNotifications\DWHError" />
    <add key="EmailAddress" value="Info-noreply@banksampoerna.com" />
    <add key="EmailDisplayName" value="Bank Sahabat Sampoerna" />
    <add key="EmailPassword" value="Sahabat1" />
    <add key="EmailIP" value="" />
    <add key="EmailPort" value="25" />
    <add key="EmailDuration" value="1" />
    <add key="EmailCallType" value="1" />
    <add key="EmailRunStart" value="07:00" />
    <add key="EmailAddressIsError" value="it.productionsupport@banksampoerna.com" />
    <add key="EmailAddressIsErrorDisplayName" value="IT Production Support" />
    <add key="SMSIP" value="http://103.3.47.43:6060/WSController" />
    <add key="SMSPartnerId" value="5231" />
    <add key="SMSPartnerName" value="bss" />
    <add key="SMSPassword" value="5B2s3S" />
    <add key="FileCleansing" value="7" />
    <add key="debugfile" value="on" />
    <add key="debugdb" value="on" />
    <add key="debugtrace" value="off" />
    <add key="ThreadSleepTimeInMilliSeconds" value="60000" />
    <add key="ThreadUpLoggingInMinutes" value="5" />
    <add key="db_provider" value="SQLSERVER" />
    <!--<add key="db_ip" value="10.196.242.21"/>-->
    <add key="db_ip" value="10.196.240.14" />
    <add key="db_dbname" value="BSSNOTIFIKASI" />
    <add key="db_uid" value="sa" />
    <add key="db_pwd" value="fgucjcdcv" />
    <add key="db_othersetting" value="Pooling=false" />
    <add key="dbtimeout" value="600" />
    <add key="AlternativeEmailAddress" value="Info-noreply@banksampoerna.com" />
    <add key="AlternativeEmailDisplayName" value="Bank Sahabat Sampoerna" />
    <!--<add key="AlternativeEmailUsername" value="Info-noreply" />
    <add key="AlternativeEmailPassword" value="Sahabat1" /> 
    <add key="AlternativeEmailServer" value="https://10.195.234.67/ews/exchange.asmx" />-->
    <add key="AlternativeEmailUsername" value="uat-info-noreply" />
    <add key="AlternativeEmailPassword" value="Sahabat!234" />
    <add key="AlternativeEmailIP" value="10.195.234.67" />
    <add key="AlternativeEmailPort" value="25" />
    <add key="AlternativeEmailDomain" value="banksampoerna.com" />
    <add key="AlternativeEmailServer" value="https://webmail.banksampoerna.com/ews/exchange.asmx" />
    <add key="ServiceSMSEmailAlternative" value="on" />
    <add key="UrlAPISMSAlternative" value="http://ginsms.gratika.id:8100/" />
    <add key="FunctionAPISMSAlternative" value="sendSms.do?username=[usernamegratika]&amp;password=[passwordgratika]&amp;senderid=[senderidgratika]&amp;pesan=[messagebody]&amp;msisdn=[nomorhp]" />
    <add key="UrlAPISMSAlternativeUsername" value="Sampoerna" />
    <add key="UrlAPISMSAlternativePassword" value="sampoerna123" />
    <add key="UrlAPISMSAlternativeSenderID" value="B Sampoerna" />
    <add key="UsingAmountParameter" value="on" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>